* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: rgb(18, 59, 93);
    text-align: center;
}
header h1 {
    color: white;
    font-size: 44px;
    padding: 20px;
    padding-bottom: 15px;
    letter-spacing: 1px;
}
span {
    color: rgb(114, 189, 232);
}
header h2 {
    color: white;
    font-size: 21px;
    padding-bottom: 20px;
    font-weight: 100;
}
header nav {
    background-color: rgb(56, 116, 190);
    height: 40px;
    font-size: 20px;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: center;
}
header a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
main, footer {
    padding: 20px;
}
main h2 {
    font-weight: normal;
    font-size: 30px;
}
